---
import { getCollection } from "astro:content";
import { Image } from "@astrojs/image/components";

import pattern1 from "../assets/bg-pattern-home-4-about-3.svg";
import pattern2 from "../assets/bg-pattern-home-5.svg";

const allStories = await getCollection("stories");
---

<section class="bg-cyprus relative overflow-hidden">
	<div class="container mx-auto pt-32 pb-40 px-6 tablet:py-24 dekstop:py-36">
		<h2
			class="h2 text-white text-center mx-auto relative tablet:max-w-lg desktop:max-w-5xl"
		>
			Delivering real results for top companies. Some of our <span
				class="text-baked">success stories.</span
			>
		</h2>

		<div
			class="flex flex-col gap-12 mt-12 desktop:flex-row desktop:gap-8 desktop:mt-14"
		>
			{
				allStories?.map((story) => {
					return (
						<div>
							<div class="bg-[url('src/assets/icon-quotes.svg')] bg-no-repeat bg-top pt-9">
								<p class="body2 text-center text-white">{story.data.quote}</p>
							</div>
							<div class="pt-4">
								<p class="body1 text-center text-baked">{story.data.name}</p>
							</div>
							<div class="pt-0.5">
								<p class="small text-center text-white italic">
									{story.data.job}
								</p>
							</div>
							<div class="flex flex-row justify-center pt-4">
								<Image
									src={import(story.data.avatarUrl)}
									alt={story.data.name}
									width={62}
									height={62}
									aria-label={story.data.name}
									class="rounded-full border-2 border-baked"
								/>
							</div>
						</div>
					);
				})
			}
		</div>

		<Image
			src={pattern1}
			alt="Background pattern"
			width={147}
			height={100}
			class="absolute z-0 top-0 left-0"
		/>
		<Image
			src={pattern2}
			alt="Background pattern"
			width={200}
			height={100}
			class="absolute z-0 bottom-0 right-0"
		/>
	</div>
</section>
