---
import { getCollection } from "astro:content";
import { Image } from "@astrojs/image/components";
import pattern from "../assets/bg-pattern-home-3.svg";
import Typography from "./Typography.astro";

const allTeams = await getCollection("teams");
---

<section class="bg-daintree relative overflow-hidden">
	<div class="container mx-auto py-16 px-6 grid grid-cols-1 tablet:py-24 dekstop:py-36 desktop:grid-cols-2">

		<Typography variant="h2"
								className="text-white text-left mt-8 max-w-[15rem] relative z-10 tablet:max-w-[27rem] dekstop:mt-14 before:content-[''] before:absolute before:bg-flory before:w-[3.125rem] before:h-[0.125rem] before:-top-8 desktop:before:-top-14">
			Build & manage distributed teams like no one else.
		</Typography>

		<div class="flex flex-col gap-12 mt-14 tablet:gap-8 tablet:mt-16 desktop:gap-8 desktop:justify-start desktop:mt-8">
			{allTeams?.map(team => {
				return (
					<div class="flex flex-col items-center tablet:flex-row tablet:gap-6">
						<Image src={import(team.data.iconUrl)} alt={team.data.title} width={72} height={72}
									 aria-label={team.data.title} />
						<div
							class="flex flex-col items-center tablet:items-start tablet:w-full tablet:max-w-full desktop:max-w-md">
							<Typography variant="body1" as="p" className="text-flory text-center pt-4 tablet:text-left">
								{team.data.title}
							</Typography>
							<Typography variant="body2" as="p" className="text-white text-center pt-2 tablet:text-left">
								{team.data.description}
							</Typography>
						</div>
					</div>
				);
			})}
		</div>

		<Image src={pattern} alt="Background pattern" width={200} height={244}
					 class="absolute z-0 top-0 -right-[6.25rem] desktop:bottom-0 desktop:top-auto" />
	</div>
</section>
